.colorblue
{
    text-decoration: none;
    color: #3d83df;
}
.main-footer
{
    
        border-top: 1px solid #eef2f2;
        font-size: .75em;
        color: #ababab;
        text-align: center;
        padding: 1em 0;
    
}