.introduction
{
    text-align: center; 
    margin-top: 70px; 
    max-width: 1016.5px; 
    padding: 0px 9.5px; 
}
.justifier
{
    text-align: justify; 
}
.margintitle
{
    margin: 34px 0px; 
}
.marginparag
{
    margin: 12.8px 0px; 
}